{% extends 'home_base.html' %}
{% block head %}
<head>
	<title>About US</title>
</head>
{% endblock %}
{% block body %}
<div class="container">

		<!-- Introduction Row -->
		<div style="margin-top:20px">
			<h1>About Us
			<small>It's Nice to Meet You!</small>
			</h1>
			<p><b>EMPTY_FLASK</b> is a team of dedicated M. Tech students from IIIT Hyderabad focused towards learning new things and building the best of the best softwares. We are glad to serve you. Hope you like our products. Cheers...!!!</p>
		</div>
		<!-- Team Members Row -->
		<div style="margin-top:20px">
			<div class="row">
			<div class="col-lg-12">
				<h2 class="my-4">Our Team</h2>
			</div>
			<br>
			<br>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
				<h3>Darshan Kansagara
				<small>CEO</small>
				</h3>
				<p> 2018201033 </p>
				<ul class="social-icons3">
					<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
					<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
				<h3>Priyendu Mori
				<small>CEO</small>
				</h3>
				<p>2018201103</p>
				<ul class="social-icons3">
					<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
					<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
				<h3>Rushit Jasani
				<small>CEO</small>
				</h3>
				<p>2018201034</p>
				<ul class="social-icons3">
					<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
					<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
				<h3>Vatsal Soni
				<small>CEO</small>
				</h3>
				<p>2018201005</p>
				<ul class="social-icons3">
					<li><a href="#" class="fa fa-facebook icon-border facebook"> </a></li>
					<li><a href="#" class="fa fa-twitter icon-border twitter"> </a></li>
					<li><a href="#" class="fa fa-google-plus icon-border googleplus"> </a></li> 
					<li><a href="#" class="fa fa-rss icon-border rss"> </a></li>
				</ul>
				<br>
			</div>
			</div>
		</div>
	  </div>
{% endblock %}