{% extends 'home_base.html' %}
{% block head %}
<head>
	<title>About US</title>
</head>
{% endblock %}
{% block body %}
<div class="container">

		<!-- Introduction Row -->
		<div style="margin-top:20px">
			<h1>About Us
			<small>It's Nice to Meet You!</small>
			</h1>
			<p><b>EMPTY_FLASK</b> is a team of dedicated M. Tech students from IIIT Hyderabad focused towards learning new things and building the best of the best softwares. We are glad to serve you. Hope you like our products. Cheers...!!!</p>
		</div>
		<!-- Team Members Row -->
		<div style="margin-top:20px">
			<div class="row">
			<div class="col-lg-12">
				<h2 class="my-4">Our Team</h2>
			</div>
			<br>
			<br>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="/static/Img/darshan.jpg"  height="200" width="200" alt="">
				<h3>Darshan Kansagara
				<small>CEO</small>
				</h3>
				<p> 2018201033 </p>
				<ul class="social-icons3">
					<li><a target="blank" href="https://www.facebook.com/darshankansagara97" class="fa fa-facebook-square" style="font-size:36px;color:#3B5998"> </a></li>
					<li><a target="blank" href="https://in.linkedin.com/in/darshan-kansagara" class="fa fa-linkedin-square " style="font-size:36px;color:#0E76A8"> </a></li>
					<li><a target="blank" href="https://plus.google.com/+DarshanKansagara14" class="fa fa-google-plus-square " style="font-size:36px;color:#CC3333"> </a></li> 
					<li><a target="blank" href="https://github.com/darshank15" class="fa fa-github-square" style="font-size:36px;color:black"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="/static/Img/priyendu.jpg"  height="200" width="200" alt="">
				<h3>Priyendu Mori
				<small>CEO</small>
				</h3>
				<p>2018201103</p>
				<ul class="social-icons3">
					<li><a target="blank" href="https://www.facebook.com/priyendu.mori" class="fa fa-facebook-square" style="font-size:36px;color:#3B5998"> </a></li>
					<li><a target="blank" href="https://in.linkedin.com/in/priyendu-mori-607b15159" class="fa fa-linkedin-square " style="font-size:36px;color:#0E76A8"> </a></li>
					<li><a target="blank" href="https://plus.google.com/104774910699886304867" class="	fa fa-google-plus-square " style="font-size:36px;color:#CC3333"> </a></li> 
					<li><a target="blank" href="https://github.com/priyendumori" class="fa fa-github-square" style="font-size:36px;color:black"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="/static/Img/rushit.jpg" height="200" width="200" alt="">
				<h3>Rushit Jasani
				<small>CEO</small>
				</h3>
				<p>2018201034</p>
				<ul class="social-icons3">
					<li><a target="blank" href="https://www.facebook.com/rmjasani" class="fa fa-facebook-square" style="font-size:36px;color:#3B5998"> </a></li>
					<li><a target="blank" href="https://in.linkedin.com/in/rushit-jasani-a0158194" class="fa fa-linkedin-square " style="font-size:36px;color:#0E76A8"> </a></li>
					<li><a target="blank" href="https://plus.google.com/+RushitJasani" class="	fa fa-google-plus-square " style="font-size:36px;color:#CC3333"> </a></li> 
					<li><a target="blank" href="https://github.com/rushitjasani" class="fa fa-github-square" style="font-size:36px;color:black"> </a></li>
				</ul>
				<br>
			</div>
			<div class="col-lg-6 col-sm-8 text-center mb-4">
				<img class="img-circle rounded-circle img-fluid d-block mx-auto" src="/static/Img/vatsal.jpg" height="200" width="200" alt="">
				<h3>Vatsal Soni
				<small>CEO</small>
				</h3>
				<p>2018201005</p>
				<ul class="social-icons3">
					<li><a target="blank" href="https://www.facebook.com/sonivatsal111" class="fa fa-facebook-square" style="font-size:36px;color:#3B5998"> </a></li>
					<li><a target="blank" href="https://in.linkedin.com/in/vatsal-soni-53477a13b" class="fa fa-linkedin-square " style="font-size:36px;color:#0E76A8"> </a></li>
					<li><a target="blank" href="https://plus.google.com/117680174199260444288" class="	fa fa-google-plus-square " style="font-size:36px;color:#CC3333"> </a></li> 
					<li><a target="blank" href="https://github.com/VatsalSoni301" class="fa fa-github-square" style="font-size:36px;color:black"> </a></li>
				</ul>
				<br>
			</div>
			</div>
		</div>
	  </div>
{% endblock %}