{% extends 'home_base.html' %}
{% block head %}

<head>
	<title>Answer Later</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<style>
		.quebox{
			margin: 10px;
		}
		.tag{
			width: 60%;
		}
		.taglable{
			color:black;
			margin-left:5px;
			background: #7edadb;
		}
		.askerinfo{
			float: right;
			font-size: 12px;
			color: #9199a1;
		}
		.viewansvotes{
			margin-left: 20px;
		}
		.quetitle{
			font-size:16px;
			text-decoration: none;
			color:white;
			font-weight: bold;
		}
		.bookmark{
			float:right;
			font-size:12px;
		}
		.bookmarksym{
			margin-left: 15px;
		}
		.bookmarksym:hover{
			display: inline-block;
			cursor: pointer;
		}
		.panel-info > .panel-heading
		{
			background-color:#19b8bb 
		}
		.queanscontainer{
			width: 75%;
			float: left;
		}
		.sidebar{
			margin-top:15px; 
			width:25%;
			float:left;
		}
	</style>

	<script>

		function removetodo(obj) {
			uid = document.getElementById("usr_id").value;
			qid = obj.getAttribute("name");
			$.post("/rm_answer_later_1",
				{
					usr: uid,
					que: qid
				},
				function (data, status) {
					$("#queanscontainerid").load(location.href + " #queanscontainerid");
				}
			);
		}
		function addbookmark(obj) {
			uid = document.getElementById("usr_id").value;
			qid = obj.getAttribute("name");
			$.post("/add_bookmark_1",
				{
					usr: uid,
					que: qid
				}
			);
		}
		function removebookmark(obj) {
			uid = document.getElementById("usr_id").value;
			qid = obj.getAttribute("name");
			$.post("/rm_bookmark_1",
				{
					usr: uid,
					que: qid
				}
			);
		}
		$(document).ready(function () {
			$('[data-toggle="popover"]').popover({
				placement: 'top',
				trigger: 'hover'
			});
		});

	</script>
</head>
{% endblock %}
{% block body %}
<br>
<div id="queanscontainerid">
	<div class="queanscontainer">
		<div class="w3-heading-grid">
			<h3 class="text-center" style="color:green">Answer Later</h3>
		</div>
		<hr class="text-center" style="width: 40%">
		{% if name=="#" %}
		<div class="w3-heading-grid">
			<h3 class="text-center" style="color:red">You need to be logged in for this</h3>
		</div>
		{% else %}
		{% if questionList %}
		<input type="hidden" value="{{uuid}}" id="usr_id">
		{% for i in questionList%}
		<div class="quebox">
			<div class="panel panel-info">
				<div class="panel-heading">
					<span class="panel-title quetitle">
						<a href="{{url_for('que_page',qid=i['id'])}}">
							<span>
								{{i['title']}}
							</span>
						</a>
					</span>
				</div>
				<div class="panel-body">
					<span class="tag">
						{% for tagname in i['tags'] %}
						<a class="label label-info taglable" href="{{url_for('search_perticular_tag',search_tid=tagname['id'])}}">{{tagname['name']}}</a>
						{% endfor %}
					</span>

					<span class="askerinfo">
						<div>
							Posted on : <span>{{i['date']}}</span>
						</div>
						<div>
							By : <span><a href="{{url_for('view_profile',uid=i['uid'])}}">{{i['fname']}} {{i['lname']}}</a></span>
						</div>
					</span>
				</div>
				<div class="panel-footer">
					<span>
						<span class="viewansvotes">View : </span><span>{{i['views']}}</span>
						<span class="viewansvotes">Ans : </span><span>{{i['ans']}}</span>
						<span class="viewansvotes">Votes : </span><span>{{i['votes']}}</span>
						<span style="float:right">
							{% if i['answered'] %}
							<span class="bookmarksym" data-toggle="popover" data-content="answered">
								<span class="glyphicon glyphicon-check" aria-hidden="true"></span>
							</span>
							{% else %}
							{% if i['ans_later']==0 %}
							<span class="bookmarksym" data-toggle="popover" data-content="answer later">
								<span class="fa fa-plus-square-o" name="{{i['id']}}" onclick="addtodo(this)"></span>
							</span>
							{% else %}
							<span class="bookmarksym" data-toggle="popover" data-content="remove from TODO">
								<span class="fa fa-plus-square" name="{{i['id']}}" onclick="removetodo(this)"></span>
							</span>
							{% endif %}
							{% endif %}
							{% if i['BID']==0 %}
							<span class="bookmarksym" data-toggle="popover" data-content="bookmark">
								<span class="glyphicon glyphicon-star-empty" aria-hidden="true" name="{{i['id']}}" onclick="addbookmark(this)"></span>
							</span>
							{% else %}
							<span class="bookmarksym" data-toggle="popover" data-content="remove bookmark">
								<span class="glyphicon glyphicon-star" aria-hidden="true" name="{{i['id']}}" onclick="removebookmark(this)"></span>
							</span>
							{% endif %}
						</span>

					</span>

				</div>
			</div>

		</div>
		{% endfor %}
		{% else %}
		<div class="w3-heading-grid">
			<h3 class="text-center" style="color:red">No questions added to answer later</h3>
		</div>
		{% endif %}
		{% endif %}
	</div>
</div>
<div class="sidebar">
	<fieldset>
		<legend>Search</legend>
		<div>
			<form action="{{url_for('search_question')}}" method="post" name="search_que_form">
				<div style="width:80%;float:left">
					<input class="form-control" type="text" name="search_question_input" id="search_question_input1" placeholder="Search Question"
					 required>
				</div>
				<div style="width:15%;float:left;margin-left: 5px;">

					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</form>

			<br><br>

			<form action="{{url_for('search_tag')}}" method="post" name="search_tag_form">
				<div style="width:80%;float:left">
					<input class="form-control" type="text" name="search_tag_input" id="search_tag_input1" placeholder="Search by Tag"
					 required>
				</div>
				<div style="width:15%;float:left;margin-left: 5px;">
					<button type="submit" class="btn btn-default">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</form>
			<br>
		</div>
	</fieldset>
	<br>
	<div>
		<a href="{{ url_for('ask_question') }}" class="btn btn-primary">Ask Question</a>
	</div>
	<br>
</div>
<div class="clearfix"></div>

{% endblock %}