{% extends 'home_base.html' %}
{% block head %}
<head>
<script>
function fun(){
	
	var fname=document.getElementById("fname1")
	var lname=document.getElementById("lname1")
	var email=document.getElementById("email1")
	var mobile=document.getElementById("mobile1")
	var date=document.getElementById("date1")
	var password=document.getElementById("pass1")
	var confirm=document.getElementById("cpass1")
	var address=document.getElementById("address_11")
	var pincode=document.getElementById("pincode1")
	var file=document.getElementById("file1")
	x=file.value.split(".")
	 var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	if(fname.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter FirstName"
		$('#myModal11').modal('show');
	}
	else if(lname.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter LastName"
		$('#myModal11').modal('show');
	}
	else if(email.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter EmailId"
		$('#myModal11').modal('show');
	}
	else if(reg.test(email.value) == false)
	{
		document.getElementById("msg").innerHTML="Please Enter Valid EmailID"
		$('#myModal11').modal('show');
	}
	else if(mobile.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter MobileNo"
		$('#myModal11').modal('show');
	}
	else if(mobile.value.length!=10)
	{
		document.getElementById("msg").innerHTML="Mobile number must be of 10 digit"
		$('#myModal11').modal('show');
	}
	else if(password.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Password"
		$('#myModal11').modal('show');
	}
	else if(confirm.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Confirm Password"
		$('#myModal11').modal('show');
	}
	else if(password.value!=confirm.value)
	{
		document.getElementById("msg").innerHTML="Password and Confirm Password must be Same"
		$('#myModal11').modal('show');
	}
	/*else if(date.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Birth Date"
		$('#myModal11').modal('show');
	}*/
	/*else if(address.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Address"
		$('#myModal11').modal('show');
	}*/
	/*else if(pincode.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Pincode"
		$('#myModal11').modal('show');
	}*/
	else if(x[1]!='png' && x[1]!='jpeg' && x[1]!='jpg' && x[1]!='bmp' && file.value!='')
	{
		document.getElementById("msg").innerHTML="Image must be in form of jog/jpeg/png/bmp"
		$('#myModal11').modal('show');
	}
	else{
		 $.post("/validate_email_user",
        {
		  email:email.value,
        },
		function(data,status){
			if(data=="wrong")
			{
				document.getElementById("msg").innerHTML="EmailID is already exist."
				$('#myModal11').modal('show');
			}
			else{
				alert("success")
				document.form1.submit();
			}
			
        }
        );		
	}
}

</script>
<!-- <script>
function add_data(){
	
	var email=document.getElementById("email1_lg")
	var password=document.getElementById("pass1_lg")
	
	 var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
	if(email.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter EmailID"
		$('#myModal11').modal('show');
	}
	else if(reg.test(email.value) == false)
	{
		document.getElementById("msg").innerHTML="Please Enter Valid EmailID"
		$('#myModal11').modal('show');
	}
	else if(password.value=='')
	{
		document.getElementById("msg").innerHTML="Please Enter Password"
		$('#myModal11').modal('show');
	}
	else{
		
		$.post("/signin_1",
        {
          email:email.value,
		  password:password.value,
        },
		function(data,status){
			if(data=="wrong")
			{
				document.getElementById("msg").innerHTML="Unauthorized user"
				$('#myModal11').modal('show');
			}
			else{
				document.form11.submit();
			}
			
        }
        );
	}	
	
}

</script> -->
{% endblock %}
</head>
{% block body %}

	<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog"> -->
		<!-- Modal1 -->
		<!-- <div class="modal-dialog"> -->
			<!-- Modal content-->
				<!-- <div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>Signin</h4>
							
					
<div class="container">
  <form" method="post" name="form11">
  
  <div class="col-md-8 form-group "> -->
              <!-- <label>Member</label> &nbsp;&nbsp; -->
              <!-- <input type="radio" name="role" value="user"  id="role1" checked>User</input>
			  &nbsp;&nbsp;<input type="radio" value="expert" id="role2" name="role">Reviewer</input>
            </div> -->
  
   <!-- <div class="input-group" style="width:45%">
   <select name="role" id="role1" class="form-control">										
	
		<option value="expert">Expert</option>
		<option value="user" selected>User</option>
		</select>
    </div> -->
  
 
    <!-- <div class="input-group" style="width:45%">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input id="email1_lg" type="text" class="form-control" name="email" placeholder="Email">
    </div>
	

    <div class="input-group" style="width:45%">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
      <input id="pass1_lg" type="password" class="form-control" name="password" placeholder="Password">
    </div>
    
	<input type="button" class="btn btn-primary" value="Signin" onclick="add_data()" > 
	</br><hr class="style17"></br></br>
	<div class="input-group">
	<a href="/google" class="fa fa-google  fa-2x" style="color:white;background: #dd4b39;padding:10px"></a>
	</div> 
	
	<div class="input-group"><p>Do not have an account?</p>
		<a href="/user_sign_up">Signup</a>		
     </div>
	   
	 <div class="input-group"><a  href="/password">Forget Password?</a>	
      </div>  
	  
   
  </form>
   
</div>							
							</div>
				</div>
		</div>
	</div> -->

	<!-- start-->
	</br>
	<div class="contac1t">
		<div class="container">
			 <div class="w3-heading-grid">			
			<div class="w3layouts_head">
				<h3 class="tittle">Sign Up</h3>
					<div class="border"></div>
				</div>				
			</div> 
			
			
	 <form method="POST" enctype="multipart/form-data" name="form1">
		<p style="color:red">* - Required Fields... </p>
         	<div class="vali-form">
						  <div class="col-md-4 form-group group-mail">
									<label>Salution *</label>
										<select name="salution"  class="form-control">
												<option value="Mr.">Mr.</option>
												<option value="Mrs.">Mrs.</option>
												<option value="Miss.">Miss.</option>
											</select>
								</div>
            <div class="col-md-4 form-group group-mail">
              <label >Firstname *</label>
              <input type="text" class="form-control" placeholder="FirstName" id="fname1" name="fname">
            </div>
			 <div class="col-md-4 form-group group-mail">
              <label >Lastname *</label>
              <input type="text" class="form-control" placeholder="LastName" id="lname1" name="lname">
            </div>
           
            </div>
            <div class="col-md-8 form-group group-mail">
              <label >Email *(User-Id)</label>
              <input type="text" class="form-control" placeholder="Email" id="email1" name="email">
            </div>  
			 <div class="col-md-8 form-group group-mail">
              <label>Mobile No *</label>
              <input type="number" class="form-control" placeholder="Mobile No" id="mobile1"  name="mobile">
            </div>	
			<div class="col-md-8 form-group group-mail">
              <label >Create a password *</label>
              <input type="password" class="form-control" placeholder="Create a password" id="pass1" name="password">
            </div>
            <div class="col-md-8 form-group group-mail">
              <label>Confirm password *</label>
              <input type="password" class="form-control" placeholder="Confirm password" id="cpass1" name="cpassword">
            </div>
			<div class="col-md-8 form-group ">
              <label>Gender *</label> &nbsp;&nbsp;
              <input type="radio" name="gn" value="Male" checked>Male</input>
			  &nbsp;&nbsp;<input type="radio" value="Female" name="gn">Female</input>
            </div>
			<div class="col-md-8 form-group group-mail">
              <label class="control-label">Date Of Birth</label></br>
            <input type="date" class="form-control" class="form-control1 ng-invalid ng-invalid-required"  ng-model="model.date" name="date" id="date1">
            </div>
			 <div class="col-md-8 form-group group-mail">
              <label class="control-label">Designation *</label>
						<select name="designation" class="form-control">
									<option value="Student">Student</option>
									<option value="Industry Person">Industry Person</option>
									<option value="Student">PG Student</option>
									<option value="Researcher">Researcher</option>
									
									</select>
						   
			</div>
			 <div class="col-md-8 form-group group-mail">
              <label class="control-label">Brief Biodata</label>
              <textarea class="form-control" rows=5 placeholder="Brief Biodata..." name="biodata"></textarea>
            </div>
			 <div class="col-md-8 form-group group-mail">
              <label class="control-label">Address</label>
               <input type="text" class="form-control" placeholder="Address Line 1..." id="address_11"  name="address_1">
			   <input type="text" class="form-control"  placeholder="Address Line 2..."  name="address_2">
				<input type="text" class="form-control" placeholder="Address Line 3..."  name="address_3">
            </div>
			<div class="col-md-8 form-group group-mail">
              <label class="control-label">Pincode</label>
              <input type="number" class="form-control" placeholder="Pincode..." id="pincode1"  name="pincode">
            </div>	
			<div class="col-md-8 form-group group-mail">
              <label class="control-label">Country *</label>
              <select name="country"  class="form-control">
									{% for i in c %}
										<option value="{{i['name']}}">{{i['name']}}</option>
									{% endfor %}
									
									</select>
            </div>	
			<div class="col-md-8 form-group group-mail">
              <label class="control-label">Profile Pic</label>
              <input type="file" class="form-control" name="file" id="file1">
            </div>
            <div class="col-md-12 form-group">
              <button type="button" class="btn btn-primary" onclick="fun()">Submit</button>
              <button type="reset" class="btn btn-default">Reset</button>
            </div>
          <div class="clearfix"> </div>
        </form>
	
	
	
	
	
	
		</div>
	</div>	
	<!-- end -->
	<div class="modal fade" id="myModal11" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p id="msg"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

	  
	
 {% endblock %}